@import '../../variables.scss';

.task {
    padding: 0.8rem;
    border-bottom: 1px solid var(--text-color);;
    position: relative;
    cursor: pointer;
}

.task:hover .cancel-icon {
    visibility: visible;
}

.checkmark-container {
    display: inline-block;
}

.toggle-completed {
    display: inline;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    vertical-align: baseline;
}

// strikethrough text for completed tasks
.strike-through {
    text-decoration: line-through;
}


.created-title {
    margin-left: 1rem;
    display: inline-block;
}

.cancel-icon {
    visibility: hidden;
    vertical-align: top;
    text-align: end;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}