.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 20px;
}

.mode-icon {
    width: 30px;
    height: 30px;
    vertical-align: top;
}

.mode-icon:hover {
    cursor: pointer;
}