@import '../../variables.scss';

.task-list {
    margin-top: 1rem;
    background-color: var(--todoBackground-color);
    color: var(--text-color);
    border-radius: 5px;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.items-left {
    color: var(--text-color);
}

.control-filters {
    display: flex;
    justify-content: space-between;
}

.filter {
    margin-left: 1rem;
    color: var(--text-color);
}

.active-filter {
    color: var(--accent-color);
    margin-left: 1rem;
}

.not-active-filter {
    color: var(--text-color);
    margin-left: 1rem;
}

.clear-completed {
    color: var(--text-color);
}

.mobile-control-filters {
    display: none;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
    background-color: var(--todoBackground-color);
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .task-list {
        width: 80vw;
        margin: 1rem auto;
    }

    .control-filters {
        display: none;
    }

    .mobile-control-filters {
        display: flex;
        padding: 1rem;
        cursor: pointer;
    }

    .all,
    .active,
    .completed {
        margin-left: 1rem;
        color: var(--text-color);
    }

}
@media only screen and (max-width: 900px) {
    .task-list {
        width: 80vw;
        margin: 1rem auto;
    }
}